
html
{
    height: 100%;
}
body
{
	background-color: rgb(239,239,239) !important;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
img
{
    max-width: 100%;
    max-height: 100%;
}

#uppercontainer
{
	width: 900px;
	height: 150px;
	background-color: rgb(255, 204, 255);
	margin: auto;
	margin-top: 30px;
}
#logo
{
	width: 180px;
	height: 120px;
	float: left;
	color: white;
}
#weatherforecast
{
	width: 400px;
	height: 120px;
	background-color: white;
	float: left;
	margin-left: 20px;
}
#search
{
	width: 200px;
	height: 120px;
	background-color: red;
	float: left;
	margin-left: 20px;
}
#search_text
{
	width: 110px;
	height: 30px;
}
#search_submit
{
	height: 35px;
}




#middlecontainer
{
	width: 900px;
	height: 650px;
	background-color: white;
	margin: auto;
	margin-top: 30px;
}
#big_slider
{
	width: 620px;
	height: 315px;
	background-size: cover;
}
#big_slider a
{
	display: inline-block;
	width:100%;
	height:100%;
}
/*#side_slider
{
	width: 300px;
	height: 300px;
	margin-left: 50px;
	background-color: lightgrey;
	float: left;
}*/
#number_container
{
	width: 620px;
	height: 37px;
	background-color: lightgrey;
}
.numbers
{
	width: 52px;
	height: 30px;
	background-color: lightgrey;
	float: left;
	padding-top: 7px;
	cursor: pointer;
}
.numbers a
{
	display: inline-block;
	width:100%;
	height:100%;
	color: black;
	text-align: center;
	text-decoration: none;
}
#dashboard
{
	width: 700px;
	height: 139px;
	float: left;
	margin-top: 20px;
}
.bottom_article
{
    background: #ccc;
    height: 110px;
    margin: 12px 5px;
    font-size: 72px;
    text-align: center;
    line-height: 100px;
    background-size: cover;
}
.bottom_article a
{
	display: inline-block;
	width:100%;
	height:100%;
}

@keyframes arrowSlide {
  0% {
    text-indent: 0;
  }
  49% {
    text-indent: 50px;
  }
  50% {
    text-indent: -50px;
  }
  100% {
    text-indent: 0;
  }
}
#arrow_container
{
	width: 40px;
	height: 139px;
	float: left;
	margin-top: 20px;
	position: relative;
	z-index: 1;
}
#arrow1
{
	overflow: hidden;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50px;
	left: 15px;
	border: 1.3px solid grey;
	border-radius: 40px;
	background-color: white;
	font-family: monospace;
	font-size: 24px;
	font-weight: bold;
	color: grey;
	transition: background 0.25s 0.1s ease, color 0.25s ease;
}
#arrow1:before
{
	content: "\003C";
	font-family: Consolas, monaco, monospace;
}
#arrow1:hover
{
	cursor: pointer;
	animation: arrowSlide 0.25s linear;
	background-color: red;
	color: white;
}
#arrow1:focus
{
	outline: 0;
}
#arrow2
{
	overflow: hidden;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50px;
	left: -15px;
	border: 1.3px solid grey;
	border-radius: 40px;
	background-color: white;
	font-family: monospace;
	font-size: 24px;
	font-weight: bold;
	color: grey;
	transition: background 0.25s 0.1s ease, color 0.25s ease;
}
#arrow2:before {
	content: "\003E";
	font-family: Consolas, monaco, monospace;
}
#arrow2:hover {
	cursor: pointer;
	animation: arrowSlide 0.25s linear;
	background-color: red;
	color: white;
}
#arrow2:focus
{
	outline: 0;
}

/*page.php*/

#page-container
{
	width: 880px;
	margin: auto;
	padding-top: 30px;
	padding-left: 20px;
	background-color: white;
}
#title-box
{
	width: 700px;
	height: 75px;
	line-height: 94%;
	font-size: 38px;
	font-weight: bold;
}
#photo-box
{
	width: 620px;
	height: 315px;
	background-size: cover;
}
#text-box
{
	width: 700px;
	font-size: 18px;
	margin-top: 30px;
	padding: 50px;
}
#comment-header
{
	font-size: 28px;
}
#comment-container1
{
	width: 850px;
	height: 500px;
	margin: auto;
	padding-left: 50px;
	padding-top: 50px;
	background-color: white;
}
#comment-container2
{
	width: 450px;
	height: 250px;
	margin: auto;
	margin-right: 280px;
	float: right;
	background-color: yellow;
}
#comment-container4
{
	width: 180px;
	margin: auto;
	float: right;
	background-color: red;
}
#comment-container5
{
	width: 450px;
	margin: auto;
	margin-right: 280px;
	float: right;
	background-color: blue;
}

.comment-decision
{
	float: left;
}
.comment-decision:hover
{
	cursor: pointer;
	text-decoration: underline;
}
.middle_separator
{
	float:left;
}
